<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPlanner - Estadisticas</title>
    <link rel="icon" href="../img/Logo.png" />
    <link rel="stylesheet" href="../styles/estadisticas.css  " />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/body.css">
</head>
<body>
    <header>
        <nav>
            <div class="izquierda-nav">
                <div id="abrir-menu" class="menu">
                    <img  class="abrir-menu" src="../img/menu.png" width="18" height="18">
                </div>
                <img class="logo-nav" src="../img/Logo.png" width="40" height="40">
                <div class="nombre-descripcion">
                    <h1>SMART PLANNER</h1>
                    <p>Organiza tu tiempo y dinero</p>
                </div>
            </div>
            <div class="derecha-nav">
                <div class="buscador-nav">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-slate-400 h-4 w-4"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                    <input type="text" placeholder="Buscar tareas, eventos...">
                </div>
                <img class="notificaciones" src="../img/notificacion.png" width="18" height="18">
                <img class="usuario" src="" width="40" height="40" border-radius="100%">
            </div>
        </nav>
    </header>
    <main>
        <div id="menu" class="navegacion">
            <ul>
                <li>
                    <img src="../img/estadistica.png" width="20" height="20">
                    <a href="../index.html"><p>Dashboard</p></a>
                </li>
                <li>
                    <img src="../img/calendario.png" width="20" height="20">
                    <a href="calendario.html"><p>Calendario</p></a>
                </li>
                <li>
                    <img src="../img/check.png" width="20" height="20">
                    <a href="tareas.html"><p>Tareas</p></a>
                </li>
                <li>
                    <img src="../img/dolar.png" width="20" height="20">
                    <a href="finanzas.html"><p>Finanzas</p></a>
                </li>
                <li class="active">
                    <img src="../img/estadistica-blanco.png" width="20" height="20">
                    <a href="estadisticas.html"><p>Estadísticas</p></a>
                </li>
            </ul>
            <div class="tips">
                <h1><img src="../img/bombilla.png" width="20" height="20">Tip del día</h1>
                <p>Vincula tus gastos con tareas para un mejor control financiero y de tiempo.</p>
            </div>
            <a href="login.html">Login</a>
            <a href="registro.html">Registro</a>
            <a href="recuperarContraseña.html">Recuperar Contraseña</a>
        </div>
        <div class="container">
        <div class="encabezado-dashboard">
            <h2>Estadísticas y Progreso</h2>
    </div>
    <div>
        <div class="tarjetas-resumen">
            <div class="tarjeta tareas-completadas">
                <div class="texto">
                    <p class="titulo">Productividad</p>
                    <p class="cantidad">40 %</p>
                </div>
                <div class="etiqueta-tareas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trending-up h-6 w-6 text-white"><polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline><polyline points="16 7 22 7 22 13"></polyline></svg></div>
                </div>
                <div class="tarjeta tiempo-enfocado">
                    <div class="texto">
                        <p class="titulo">Tiempo Atacante</p>
                        <p class="cantidad">6,2 horas</p>
                    </div>
                    <div class="etiqueta-tiempo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock h-6 w-6 text-white"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                </div>
                <div class="tarjeta gastos">
                    <div class="texto">
                        <p class="titulo">Balance</p>
                        <p class="cantidad">$ 2549.50</p>
                    </div>
                    <div class="etiqueta-gastos"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-target h-6 w-6 text-white"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg> </div>
                </div>
                <div class="tarjeta balance">
                    <div class="texto">
                        <p class="titulo">Tareas completadas</p>
                        <p class="cantidad">2 / 5</p>
                    </div>
                    <div class="etiqueta-balance"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-6 w-6 text-white"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><path d="m9 11 3 3L22 4"></path></svg></div>
                </div>
            </div>
            <div class="content-progresoSemanal">
                <div class="Progreso-semanal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check-big h-5 w-5 text-emerald-500"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><path d="m9 11 3 3L22 4"></path></svg>
                    <h1>Progreso Semanal</h1>
                </div>
                <div class="dias">
                    <div class="apartado-dias"> 
                        <div class="numero-tareasEspecial">
                            <h3>8</h3>
                        </div>
                        <div class="progreso">
                            <h2>Lun</h2>
                            <p> 8/10 </p>
                        </div>
                    </div>
                    <div class="apartado-dias"> 
                        <div class="numero-tareas">
                            <h3>6</h3>
                        </div>
                        <div class="progreso">
                            <h2>Mar</h2>
                            <p> 6/8 </p>
                        </div>
                    </div>
                    <div class="apartado-dias">
                        <div class="numero-tareas">
                            <h3>9</h3>
                        </div>
                        <div class="progreso">
                            <h2>Mier</h2>
                            <p> 9/12 </p>
                        </div>    
                    </div>
                    <div class="apartado-dias">
                        <div class="numero-tareas">
                            <h3>7</h3>
                        </div>
                        <div class="progreso">
                            <h2>Jue</h2>
                            <p> 7/9 </p>
                        </div>
                        
                    </div>
                    <div class="apartado-dias">
                        <div class="numero-tareas">
                            <h3>5</h3>
                        </div>
                        <div class="progreso">
                            <h2>Vier</h2>
                            <p> 5/7 </p>
                        </div>
                        
                    </div>
                    <div class="apartado-dias">
                        <div class="numero-tareas">
                            <h3>3</h3>
                        </div>
                        <div class="progreso">
                            <h2>Sab</h2>
                            <p> 3/4 </p>
                        </div>    
                    </div>
                    <div class="apartado-dias">
                        <div class="numero-tareas">
                            <h3>2</h3>
                        </div>
                        <div class="progreso">
                            <h2>Dom</h2>
                            <p> 2/3 </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="contentComun-progresos">
            <div class="progresoTareas">
                <h1>Progreso de tareas</h1>
                <div class= "tareasCompletadas">
                    <h2>Completadas</h2>
                    <p>3</p>
                </div>
                <div class="tareasPendientes">
                    <h2>Pendientes</h2>
                    <p>3</p>
                </div>
                <div class="progresoGeneral">

                    <h2>Progreso general</h2>
                    <p>40%</p>

                </div>
                <progress value="0.4"></progress>
            </div>

            <div class="resumenFinanciero">
                <h1>Resumen Financiero</h1>   
                <div class="rfIngresos">
                    <h2>Ingresos</h2>
                    <p><strong>$2800.00</strong></p>
                </div>
                <div class="rfGastos">
                    <h2>Gastos</h2>
                    <p><strong>$250.50</strong></p>
                </div>
                <div class="rfBalance">
                    <h2>Balance</h2>
                    <p><strong>$2549.50</strong></p>
                </div>
                
                <div class="comparacionMensual">
                    
                </div>
            </div>
        </div>





        <div class="rendimientos">
            <h1>Rendimiento por categoría</h1>
            <ul>
                <li>
                    <div class="header">
                        <span class="descripcion">Trabajo</span>
                        <span class="cantidad">1/2</span>
                    </div>
                    <div class="progress-wrapper">
                        <progress value="50" max="100"></progress>
                        <span class="progreso">50%</span>
                    </div>
                </li>
                <li>
                    <div class="header">
                        <span class="descripcion">Salud</span>
                        <span class="cantidad">1/1</span>
                    </div>
                    <div class="progress-wrapper">
                        <progress value="100" max="100"></progress>
                        <span class="progreso">100%</span>
                    </div>
                </li>
                <li>
                    <div class="header">
                        <span class="descripcion">Personal</span>
                        <span class="cantidad">0/2</span>
                    </div>
                    <div class="progress-wrapper">
                        <progress value="0" max="100"></progress>
                        <span class="progreso">0%</span>
                    </div>
                </li>
                <li>
                    <div class="header">
                        <span class="descripcion">Finanzas</span>
                        <span class="cantidad">1/5</span>
                    </div>
                    <div class="progress-wrapper">
                        <progress value="20" max="100"></progress>
                        <span class="progreso">20%</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="distribucion">
            <h1>Distribicion de gastos</h1>
            <ul>
                <li>
                    <div class="distribucion">
                        <span class="descripcion">Entretenimiento</span>
                    </div>
                    <span class="valor">$120.00</span>
                </li>
                <li>
                    <div class="distribucion">
                        <span class="descripcion">Alimentación</span>
                    </div>
                    <span class="valor">$85.00</span>
                </li>
                <li>
                    <div class="distribucion">
                        <span class="descripcion">Transporte</span>
                    </div>
                    <span class="valor">$45.00</span>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <!-- ESTO ES EL PIE DE PAGINA, QUE NOSOTROS NO TENEMOS -->
    </footer>
    <script src="../js/funcionalidadMenu.js"></script>
</body>
</body>
</html>