/* 📱 Ajustes responsivos */
@media (max-width: 1024px) {
  .resumen ul {
    flex-wrap: wrap;
    gap: 15px;
  }

  .resumen li {
    flex: 1 1 45%; /* Se ajustan dos por fila */
  }

  .buscadores {
    flex-direction: column;
    gap: 15px;
  }

  .buscador {
    width: 100%;
  }

  .filtros {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .container {
    margin: 10px;
  }

  .resumen ul {
    flex-direction: column;
  }

  .resumen li {
    width: 100%;
  }

  .resumen-categorias {
    flex-direction: column;
  }

  .buscadores {
    flex-direction: column;
    gap: 10px;
  }

  .filtros {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .tareas ul li {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .derecha {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container .titulo h1 {
    font-size: 18px;
  }

  .container .titulo button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .resumen h1 {
    font-size: 20px;
    text-align: center;
  }

  .resumen li .izquierda {
    width: 100%;
  }

  .resumen-categorias .categoria {
    flex: 1 1 100%;
  }

  .progresoAhorro .editarProgresoAhorro {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body{
    background: #EFFBF9;
background: linear-gradient(120deg, rgba(239, 251, 249, 1) 0%, rgba(242, 252, 251, 1) 100%);
}

main {
    display: flex;
}

.green {
    color:rgb(5, 150, 105) 
}

.red {
    color: rgb(220, 38, 38)

}
.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.container .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .titulo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #0e0e0e;
}
.container .titulo button {
    background: linear-gradient(90deg, rgba(52, 210, 153, 1) 0%, rgba(96, 165, 250, 1) 100%);
    border-radius: 12px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    font-size: 16px;
    padding: 10px 16px;
    cursor: pointer;
}

.resumen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.resumen h1 {
    font-size: 25px;
    font-weight: bold;
}

.resumen ul {
    display: flex;
    list-style: none;
    gap: 20px;
    width: 100%;
}

.resumen li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: white;
    width: 100%;
    height: 100px;
}

.resumen li .izquierda {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}


.izquierda h2 {
    font-size: 13px;
    color: #000000;
}

.resumen li .derecha1, .derecha2, .derecha3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.derecha1 {
    background: #48DD82;
    background: linear-gradient(120deg, rgba(72, 221, 130, 1) 0%, rgba(54, 212, 151, 1) 100%);
    color: white;
    border-radius: 10px;
}

.derecha2 {
    color: white;
    background: #F87177;
    background: linear-gradient(120deg, rgba(248, 113, 119, 1) 0%, rgba(244, 114, 176, 1) 100%);
}

.derecha3 {
    color: white;
    background: #38CFA1;
    background: linear-gradient(120deg, rgba(56, 207, 161, 1) 0%, rgba(92, 169, 242, 1) 100%);
}

.ingreso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #48DD82;
    background: linear-gradient(120deg, rgba(72, 221, 130, 1) 0%, rgba(54, 212, 151, 1) 100%);
    color: white;
    border-radius: 10px;
}

.egreso {
    color: white;
    background: #F87177;
    background: linear-gradient(120deg, rgba(248, 113, 119, 1) 0%, rgba(244, 114, 176, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.buscadores {
    display: flex;
    margin-top: 20px;
    gap: 25px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 8px;
    background-color: #f8fdfd;
    border: 2px solid #a7f3d0;
    border-radius: 10px;
}

.buscador svg {
    height: 20px;
    color: rgb(0, 0, 0);
}

.buscador input {
    background-color: #f8fdfd;
    outline: none;
    border: none;
    width: 100%;
    height: 20px;
}

.buscadores select {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #a7f3d0;
}


.filtros {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    background-color: #f8fdfd;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
}

.filtros button {
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #545454;
}

.filtros button:hover {
    background-color: #fbfbfb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.tareas {
    display: flex;
    flex-direction: column;
    background-color: #f8fdfd;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

.tareas h1 {
    font-size: 25px;
    color: #1e293b;
}

.tareas ul {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    list-style: none;
    gap: 18px;
}

.tareas ul li {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfdfe;
}

.tareas li:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.tareas .informacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input img {
    position: absolute;
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.tareas .informacion .texto {
    margin-left: 15px;
}

.tareas .informacion h1 {
    font-size: 14px;
    color: #1e293b;
    font-weight: lighter;
}

.tareas .informacion h2 {
    font-size: 13px;
    color: #6b7280;
    margin-top: 5px;
}

.tareas .informacion p {
    font-size: 13px;
    color: #6b7280;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.derecha .estados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
}

.derecha .estados p {
    padding: 2px 10px 2px 10px;
    border-radius: 200px;
    border: 2px solid transparent;
}

.estados .baja {
    background-color: #e3fced;
    color: #4e9f6e;
}

.estados .media {
    background-color: #fef9c3;
    color: #a16207;
}

.estados .alta {
    background-color: #fce8e9;
    color: #c95455;
}

.estados .valor {
    background-color: #f3e8ff;
    color: #7e22ce;
}

.derecha .crud {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

/* Contenedor principal */
.resumen-categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9fcff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  margin-top: 5%;
}

/* Tarjetas individuales */
.resumen-categorias .categoria {
  flex: 1 1 200px;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}
.resumen-categorias h1 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    font-weight: 600;
    color: #1e293b;
}

.resumen-categorias .categoria:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.resumen-categorias .categoria h1{
    font-size: 0.8rem;
    color: #1f2937;
    margin: 0;
    font-weight: bold;
    font-weight: 400;
    
}
.resumen-categorias .categoria h3 {
  font-size: 0.9rem;
  color: #1f2937;
  margin: 0;
  font-weight: normal;
}

.resumen-categorias .categoria p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  font-weight: 600;
}

/* Badge de cantidad de transacciones */
.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 9999px;
  margin-left: 0.5rem;
}

.badge-azul {
  background-color: #dbeafe;
  color: #1d4ed8;
}

.badge-naranja {
  background-color: #ffedd5;
  color: #ea580c;
}

.badge-morado {
  background-color: #ede9fe;
  color: #7c3aed;
}

.badge-rosa {
  background-color: #ffe4e6;
  color: #db2777;
}

.badge-verde {
  background-color: #dcfce7;
  color: #16a34a;
}

.containerButtons {
  display: flex;
  gap: 10px;
}

.containerButtons #abrirPlanAhorro {
  background: white;
  color: black;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.2);
}

.containerButtons #abrirPlanAhorro svg {
  color: black;
}

.containerButtons #abrirPlanAhorro:hover {
    background: #f59e0b;
    color: white;
}

.containerButtons #abrirPlanAhorro:hover svg {
    color: white;
}

.progresoAhorro {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #f9fcff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.progresoAhorro button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.progresoAhorro h1 {
    font-size: 24px;
}

.progresoAhorro .stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

.progresoAhorro .stat h1 {
    margin-bottom: 0;
    font-size: 18px;
}

.progresoAhorro .encabezado {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.progresoAhorro .encabezado p {
    margin-right: 5%;
}

.progresoAhorro .encabezado button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding: 10px;
}

.progresoAhorro progress {
    width: 100%;
    height: 12px;
    border-radius: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #d9eaf1; /* Color más suave para el fondo */
    overflow: hidden;
    border: none;
    margin-top: 0;
}

/* WebKit (Chrome, Safari) */
.progresoAhorro progress::-webkit-progress-bar {
    background-color: #d9eaf1;
    border-radius: 20px;
}

.progresoAhorro progress::-webkit-progress-value {
    background: linear-gradient(90deg, rgba(52, 210, 153, 1) 0%, rgba(96, 165, 250, 1) 100%);
    border-radius: 20px;
}

/* Firefox */
.progresoAhorro progress::-moz-progress-bar {
    background: linear-gradient(90deg, rgba(52, 210, 153, 1) 0%, rgba(96, 165, 250, 1) 100%);
    border-radius: 20px;
}

.progresoAhorro .editarProgresoAhorro {
    display: none;
    flex-direction: column;
    width: 350px;
    background: white;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    position: absolute;
    left: 35%;
    right: 35%;
}

.editarProgresoAhorro #cerrarEditarProgresoAhorro {
    position: absolute;
    right: 20px;
    top: 20px;
}

.editarProgresoAhorro #cerrarEditarProgresoAhorro:hover {
    cursor: pointer;
}

.progresoAhorro .editarProgresoAhorro h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #1e293b;
    margin-bottom: 0;
    font-weight: bold;
}

.progresoAhorro .editarProgresoAhorro label {
    margin-top: 10px;
    font-size: 14px;
    color: #1e293b;
    margin-bottom: 0;
    font-weight: bold;
}

.progresoAhorro .editarProgresoAhorro .espacio-input {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #f8fdfd;
    padding: 10px;
    border: 2px solid #a7f3d0;
    border-radius: 10px;
    margin-top: 5px;
}

.progresoAhorro .editarProgresoAhorro input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: #545454;
    font-size: 13px;
}

.progresoAhorro .editarProgresoAhorro .botones {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 40px;
}

.progresoAhorro .editarProgresoAhorro .botones button {
    height: 40px;
    width: 50%;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    font-weight: bold;
}

.progresoAhorro .editarProgresoAhorro .botones #Actualizar:hover {
    background-color: #48DD82;
    color: white;
}

.progresoAhorro .editarProgresoAhorro .botones #cancelar:hover {
    background-color: #F87177;
    color: white;
}